* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ccc;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 4%;
  margin-right: 4%;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header > img:hover {
  transform: rotate(360deg);
  transition: 2s;
}

nav {
  background-color: grey;
  border-radius: 5px;
  padding: 2px;
  margin: 0.7em;
}
nav ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 6px 6px;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  color: white;
}
a:hover {
  border-bottom: 1px solid red;
}

.banner {
  background: url("garden3.jpg") no-repeat center;
  background-size: cover;
  color: white;
  border-radius: 5px;
  margin: 0.7rem;
  font-weight: bold;
  padding: 2em;
  font-size: 1em;
}
section {
  display: flex;
}

/* Heading */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

/* Card */
.card {
  border-radius: 5px;
  padding: 2em;
  margin: 0.7em;
  background-color: antiquewhite;
  color: black;
}
.card-image {
  width: 100%;
}

img {
  width: 100px;
  text-align: center;
}

.card-btn {
  padding: 5px 10px;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 3px 1px solid grey;
}
footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: grey;
  align-items: center;
  border-radius: 5px;
}

footer:nth-child(even) {
  padding-right: 2rem;
}
footer > div img {
  width: 90px;
  height: 80px;
  padding-left: 2em;
}

footer > div p {
  color: white;
}

@media (max-width: 768px) {
  a {
    font-size: 1em;
  }
  section {
    display: flex;
    flex-direction: column;
  }

  footer {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: grey;
    align-items: center;
  }

  footer div {
    flex: 1;
  }
}
